.albums-section {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #282B30;
    border: 1px solid #f44336;
    border-radius: 5px;
  }
  
  .albums-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffffff; 
  }
  
  .albums-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ffffff; 
  }
  
  .albums-list {
    list-style-type: none;
    padding: 0;
  }
  
  .albums-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f44336;
    border: 1px solid #f44336;
    border-radius: 5px;
  }
  
  .albums-list li strong {
    font-size: 18px;
    color: #ffffff; /* White text color */
  }
  
  .albums-list li ul {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .albums-list li ul li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #ffffff;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    list-style-type: none; 
    padding: 0; 
  }
  
  .pagination .page-item {
    margin: 0 10px; 
  }
  
  .pagination .page-link {
    padding: 5px 10px;
    background-color: #f44336;
    color: #000;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none; 
  }
  .action-buttons button {
    display: block;
    display:flex;
    position:relative;
    color: #000;
    padding: 5px 15px;
    text-align: left;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .album-header {
    display: flex;
    align-items: center;
    margin-right: 100px;
  }
  
  .album-title {
    font-size: 20px;
    font-weight: bold;
    margin-left: 200px;
    flex:1
  }
  .action-buttons {
  
  margin: 10px;
  position:relative;
  font-size: 16px;
  border-radius: 20px;
  display:flex;
  margin-bottom: 100px;
  } 
  .album-actions {
    margin-top: 20px;
    display:flex;
  }
  
  .album-actions button {
    display:flex;
    margin: 10px;
    padding: 5px 15px;
    left:100px;
    font-size: 16px;
    color: #000;
    background-color: #f44336;
    border-radius: 20px;
  }
  .album-actions button:hover {
    background-color: #b71c1c;
    color:white;
  }
  .action-buttons button:hover {
    background-color: #b71c1c;
  }
  
  .pagination .page-link:hover {
    background-color: #b71c1c;
    color: #fff;
  }
  