.App {
    text-align: center;
    position: relative;
    width: 100vw; /* Full viewport width */
    min-height: 100vh; /* Minimum viewport height */
    overflow: hidden;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-header h1 {
    color: #fff;
    font-size: 24px; 
    margin: 20px;
    align-self: flex-start;
    margin-left: 80px;
  }
  .artists-section {
    background-color: black;
    color: white;
    padding: 20px;
  }
  .App-button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    color: #000;
    background-color: #f44336;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .App-button:hover {
    color:#fff;
    background-color: #b71c1c;
  }
  .horizontal-line {
    width: 90%;
    height: 2px;
    background-color: white;
    margin-top: 20px; 
  }
  .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
  }
  